* {
 font-family: 'Cormorant Garamond', serif;
}

.name {
  font-family: 'Amatic SC', cursive;
  font-size: 200px;
}

.about-section-titles {
  font-family: 'Amatic SC', cursive;
  font-size: 75px;
}

.project-title {
  font-family: 'Amatic SC', cursive;
  font-size: 75px;
  text-align: center;
}

.p-title{
  font-family: 'Amatic SC', cursive;
}

.space-above{
  padding-top: 5%;
}

.landing,
.about {
  height: 99.5vh;
}

.project {
  height: 100%;
  padding-top: 50px;
}

.landing,
.about,
.project {
  background-image: url(wet_snow.png);
  background-image: url(tree_bark.png);
}

.navbar-inner {
    background:transparent;
}


.project-box{
  text-align: center;
}

.p-des {
  color: white;
}

.footer{
  margin: 1em auto;
}

.profile_picture {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: double 8px black;
}

.square {
  width: 300px;
  height: 300px;
  /*border: 4px grey solid;*/
  text-align: center;
  margin: 3em auto;
  padding: 1em;
  box-shadow: 5px 5px 5px #888888;
}

.s1 {
  background-color: #6090AE;
}

.s1:hover {
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
}

.s2 {
  background-color: #446455;
}

.s2:hover {
  -webkit-transform: rotateZ(-0deg);
  -ms-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}

.s3 {
  background-color: #FDD262;
}

.s3:hover {
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
}

.s4 {
  background-color: #C7B19C;
}

.s4:hover {
  -webkit-transform: rotateZ(-0deg);
  -ms-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}

.s5 {
  background-color: #C27D38;
}

.s5:hover {
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
}

.s6 {
  background-color: #A45E60;
}

.s6:hover {
  -webkit-transform: rotateZ(-0deg);
  -ms-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}

.s7 {
  background-color: #B5BFBF;
}

.s7:hover {
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
}

.s8 {
  background-color: #937C90;
}

.s8:hover {
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}

.s9 {
  background-color: #008F77;
}

.s9:hover {
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
}

.footer-icon-odd:hover {
  -webkit-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
}

.footer-icon-even:hover {
  -webkit-transform: rotateZ(0deg);
  -ms-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}

